
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#0097A7;
    padding: 20px;
}

footer > div {
    margin: 15px 0;
}

.footer-menu > nav > a,
.footer-menu > nav > a:hover, 
.footer-menu > nav > a:active {
    color: white;
    margin: 0 10px
}

.footer-iconos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.social-iconos {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    font-size: 1.2rem;
    text-align: center;
    line-height: 2.8rem;
    color:#0097A7;
    background-color: white;
}

.social-iconos:hover{
    background-color: #0097A7;;
    color: white;
    border: 1px solid white;
}

.footer-iconos > div {
    margin: 5px 10px;

}

.footer-autor {
    color: white;
}


