
@media (min-width: 400px) and (max-width: 600px) {

    body {
        width: 100vw;
    }

    section {
        padding: 50px 10px 50px;
    }

    h2 {
        font-size: 45px;
    }

    /* Header  */

    .container-header {
        display: none;
    }
    

    /* Seccion hola  */

    section#hola {
        padding-top: 40px;
    }

    .container-hola {
        flex-direction: column;
        align-items: center;
        text-align: center;  
        
    }

    .hola-items, .container-hola-imagen {
        align-items: center; 

    }

    .hola-imagen {
        width: 350px;
        margin-top: 30px;
    }

    .boton-loquehago {
        min-width: 250px;
    }
   

    /* Seccion mis conocimientos */

    .descripcion {
        width: 70%; 
        margin-top: 15px;
    }

    .card-programacion {
        width: 100%;
    }

    .caja-card {
        width: calc(50% - 45px);
        padding: 30.5px 0px;
        font-size: 0.9em;
    }

    .iconos-programacion {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
    }

    /* Seccion cita */

    .comillas-img {
        width: 60px;
        height: 60px;
    }

    .cita {
        font-size: 1.1em;
        max-width: 100%;
    }

    .cita-autor {
        font-size: 1.4em;
    }
    
    /* Seccion proyectos */

    .card-proyectos {
        width: 100%;
    }
   
    .cajita-proyecto {
        width: calc(100% - 0.75rem * 2);
        padding: 30px 10px;
    }

    .img-proyectos {
        width: 100%;
        padding-bottom: 2.5em;
    }

    /* Seccion contacto */

    section#contacto {
        background-color: white;
        padding-top: 0;
    }

    .container-contacto {
        flex-direction: column;
        width: 100%;
        border: none;
        padding: 20px 10px;
    }

    .columna {
        width: 100%;
        padding: 10px;
    }

    .contactame-sitio {
        margin: 10px 1px;
    }

    .social-focus {
        padding: 12px,1px;
    }

    .containerN-A {
        flex-direction: column;
    }

    .cajaN-A {
        width: 100%;
    }


    /* Footer */

    footer {
        padding: 80px 20px;
    }

    .footer-menu {
        display: none;
    }

 
}

