
section#proyectos {
    background-color: white;
}

.container-proyectos {
    display: flex;
    flex-direction:column; 
    align-items: center; 
}

.card-proyectos {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 40px;

}

.cajita-proyecto {
    width: calc(100% / 3 - 0.75rem * 2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 0.75rem;
    padding: 47px 0;
}

.cajita-proyecto:hover {
    border: 1px solid #0097A7;
}

.cajita-proyecto:focus {
    box-shadow: 0px 0px 7px #0097A7;
    outline: 0;
}

.img-proyectos {
    width: 300px; 
}

