

section#contacto {
    width: 100%;
    padding-top: 200px;
    background-color: #F6F7FB;
}

.container-contacto {
    width: 80%;
    display: flex; 
    flex-direction: row;  
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 80px 60px;
}

.contactame-sitio {
    line-height: 2.5;
    margin: 10px;
}

.columna {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;  
}

.contactame-titulo {
    margin-top: 0;
    margin-bottom: 30px;
}

.contactame-descripcion {
    margin: 16px 0;
    line-height: 1.4;
}

.contactame-icono {
    width: 36px;
    height: 36px;
    color:#0097A7;
    background-color: transparent ;
    text-align: center;
    border-radius: 50px;
    margin-right: 5px;
    padding: 2px;
    line-height: 1.65;
    transition: 0.2s;
} 

.social-focus{
    padding: 12px 15px;
    border-radius: 100px;
}

.escribeme-titulo {
    margin-top: 0;
    margin-bottom: 30px;
}

.containerN-A {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.cajaN-A {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

label {
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    background-color: #F6F7FB;
    border: 1px solid #F6F7FB;
    border-radius: 20px;
    color: #7D7D7D;
    padding: 5px;   
}

textarea {
    font-size: 13px;
    padding: 15px;
}

.campo-formulario {
    margin-bottom: 15px;
}

.btn-formulario {
    width: 150px;
    padding: 10px 40px;
    font-size: 18px;
    border: none; 
}
