
section#proyectos {
    background-color: white;
}

h2 {
    font-size: 65px;
    
}

.p-descripcion {
    width: 400px;
}

.container-proyectos {
    display: flex;
    flex-direction:column; 
    align-items: center; 
}

.card-proyectos {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;

}

.cajita-img {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid lightgray;
    border-radius: 8px;
    margin: 20px
}

.img-proyectos {
    width: 250px;
  
}