
section#conocimientos {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F6F7FB;
}


.container-conocimientos {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.card-programacion {
    width:60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.caja-card {
    background-color: white;
    width: 250px;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;  
    font-weight: bold;
    padding: 74px 0px;;
}

.caja-card:hover {
    color: #0097A7;
    border-color: #0097A7;
}


.iconos-programacion {
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}