    
    @import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Philosopher', sans-serif;
    font-size: 1em;
}
.container{
    height: 100vw;
    width: 100vw;
}

a {
    text-decoration: none;
    color:black;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    color: #6D62FB;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton:hover {
    background-color: #6D62FB;
}

.boton > a {
    color: white;
}

ul li, ol li {
    line-height: 1.4;
}












