    
    @import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}

body { 
    font-family: 'Philosopher', sans-serif;
    font-size: 18px;
}  
 
.container {
    height: 100vw;
    width: 100vw;
}

h1 {
    font-size: 65px;
    margin-bottom: 0.375em;
}

h2 {
    font-size: 50px;
}


.descripcion {
    width: 40%;
    text-align: center;
}

a {
    text-decoration: none;
    color:black;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    color: #6D62FB;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 40px 130px;
}
.boton:hover {
    background-color: #6D62FB;
}

.boton > a {
    color: white;
}

ul li, ol li {
    text-decoration: none;
    line-height: 1.4;
}












